.gradient-wrapper{ 
  background-image: $diag-gradient;
  display: flex;
  flex-direction: column;
  height: 60vh;
  padding: 4px;
  border-radius: 5px;

  div { 
    border-radius: 3px;
    height: 100%;
  }
}

.results-wrapper{ 
  margin-top: 48px;
  width: 80%;
  padding: 0 5%;
  box-sizing: border-box; 

  .display-title{ 
    margin: 4px 0 4px 16px;;
  }
}

.solid-wrapper{
  width: 100%;
  background-color: $grey-90;
  display: flex;
  box-sizing: border-box;
  padding: 1%;
}

.standard-layout{
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: none;
  justify-content: space-between;
}
