.bg-with-shapes{
  width: 80%;
  background-image: url('../../assets/dinos-bg-overlay-small.png');
  background-color: $grey-90;  
  border-radius: 0 0 50px 50px;
  padding-bottom: 10px;
}

#header{
  padding-top: 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  #title-text{
    font-size: 48px;
    font-weight: 1000;
    margin: 0 10px 0 5%;
    padding-left: 32px;
    letter-spacing: 2px;
  }

  #giphy-section{
    img{
      padding-bottom: 10px;
      box-sizing: border-box;
    }

    h2{
      font-size: 18px;
      font-weight: 500;
    }
  } 
}

.search-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  box-sizing: border-box;
  padding: 0 5%;
  margin-bottom: 16px;
}