.footer-wrapper{
  position: fixed;
  bottom: 0;
  // margin-top: 10vh;
  background-image: url('../../assets/dinos-bg-overlay-small.png');
  background-color: $grey-90;
  display: flex;
  width: 80%;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  padding: 12px;
  box-sizing:

  p{
    margin: 20px 0 10px 0;
  }
}

@media (max-width:800px){
  .footer-wrapper{
    display: none;
  } 
}