.image-loader{ 
  // display: flex;
  width: 24%;
  height: 40%;
  margin-top: 1%;
  overflow: hidden;
}

.popular-image{
  box-sizing: border-box;
  height: 100%;
  margin-top: 0;
  width: 100%;
}

.loaded-image{ 
  object-fit: cover;
}

@media (max-width:1300px){
  .image-loader{ 
    width: 32.5%;
  }
}

@media (max-width:1000px){
  .image-loader{ 
    width: 49%;
  }
}